#friends-display-link {
  background-color: var(--sub-color);
  text-align: center;
  display: block;
  padding: 15px 0;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: -15px;
  color: #f3e2c6;
}

#friends-display-link i {
  color: var(--main-color);
  margin: 0 10px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
