.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
  margin-bottom: 30px;
}

.user-component__avator {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avator-xl {
  width: 80px;
  height: 80px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}

.user-component__subtitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin-top: 8px;
}

.friends-screen {
  padding: 0 var(--horizontal-space);
}

.user-component__avator-sm {
  width: 60px;
  height: 60px;
  border-radius: 23px;
}

.user-component__title-notbold {
  font-weight: normal;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__column:last-child .fa-comment-alt {
  color: var(--font-color);
}

.user-component__column .fa-exclamation-circle {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
}
